<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--css는 header에, js는 footer에-->
<!--제이쿼리 이후에 bootstrap.js 순서-->
<!--index.js 추가-->
<script src="/js/app/index.js"></script>
</body>
</html>