<html>
<body>

<!--css는 header에, js는 footer에-->
<!--jquery - bootstrap.js 순서로 불러와야함-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가, 스프링부트는 기본적으로 호츨코드가 절대경로(~static)로 바로시작함을 알아둘 것-->
<script src="/js/app/index.js"></script>
<h2>footer들어감</h2>
</body>
</html>