<!DOCTYPE HTML>
<html>
<head>
    <title>스프링부트 웹 서비스 from header</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <h2>header 들어감</h2>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>